.Profile.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: left;
  color: rgba(255, 255, 255, 0.87);
  background-color: #add8e6;
}

.title {
  color: grey;
  font-size: 70px;
}
.details {
  color: brown;
}

.Profile button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background: #00008b;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin: 2px;
}

button:hover {
  opacity: 0.7;
  background-color: red;
}
