
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

.editForm form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.1rem;
  background-color: #add8e6;
  max-width: 450px;
  width: 90%;
  margin: 2rem auto;
  padding: 1em;
  border-radius: 1rem;
  height: 30%;
}


.editForm label{
    display: flex;
    text-align: center;
    /* border: 1px solid red; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    justify-content: center;
}
.editForm input {
  width: 70%;
  height: 100%;
  /* gap:0.5rem; */
  border-radius: 0.5rem;
  padding: 0.5rem;
  /* border: 1px solid red; */

}

.editForm textarea{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#description {
    width: 20rem;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */

    /* border: 1px solid red; */
}

form button {
  color: white;
  background: #00008b;
}
form {
  height: 50px;
}

.editForm textarea{
    width: 50%;
    height: 50%;
    padding: 1rem;
    border-radius: 0.5rem;
}

.options select{
    /* border: 1px solid red; */
    border-radius: 0.25rem;
    margin: 1rem
}
