
body{
  margin: 0 auto;
  padding: 0 auto
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */





/* .nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  margin: 1rem auto;
  padding: 1rem;
  box-sizing: border-box;
}

.nav li{
  display: inline;
  align-content: center;
  justify-content: space-around;
  margin: 1rem auto;
  padding: 1rem auto;
  list-style: none;
} */

/* ul li{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: black;
} */

.btn-home{
border:1px solid black;
  margin: 1rem;
  width: 10rem;
  padding: 1rem;
  color: black;
  border-radius: 0.5rem;
}


